<nav class="navbar navbar-expand-lg" aria-label="Fifth navbar example">
  <div id="logo">
    <img src="./assets/lg.png" width="200px">
  </div>
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
      <i class="bi bi-list" style="color: #0e2238"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExample05">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" *ngIf="gestionnaire">Planifier</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="planifier">Chantier</a></li>
            <li><a class="dropdown-item">Intervention</a></li>
            <li><a class="dropdown-item">Maganisier</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" *ngIf="gestionnaire||secretaire">Stock</a>
          <ul class="dropdown-menu">
            <li><img src="./assets/mini-panneau-solaire-110-60mm-6v-1w-tuni-smart-innovation.png" width="30px"><a class="dropdown-item" routerLink="solarPanel">Panneaux Solaire</a></li>
            <li><img src="./assets/Onduleur_hybride_1.png" width="30px"><a class="dropdown-item" routerLink="inverter">Onduleur</a></li>
            <li><img src="./assets/51O6laxT1JL._AC_UF1000,1000_QL80_.png" width="30px"><a class="dropdown-item" routerLink="systemeFixation">Systeme de support</a></li>
            <li><img src="./assets/unnamed.png" width="30px"><a class="dropdown-item" routerLink="cable">Cables</a></li>
            <li><img src="./assets/téléchargé.png" width="30px"><a class="dropdown-item" routerLink="cable">Batterie</a></li>
            <li><img src="./assets/compteur.png" width="30px"><a class="dropdown-item" routerLink="compteur">Compteurs</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" *ngIf="gestionnaire">Devis</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="demandeDevis">demandeDevis</a></li>
            <li><a class="dropdown-item" routerLink="devis">devis</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="devisRequest" *ngIf="secretaire">DemandeDevis</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="chantier" *ngIf="gestionnaire||secretaire">Chantiers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="calendrier" *ngIf="technicien">Calendrier</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="customer" *ngIf="gestionnaire||secretaire">Clients</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="supplier" *ngIf="gestionnaire||secretaire">Fournisseurs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="worker" *ngIf="gestionnaire||secretaire">Ouvriers</a>
        </li>
      </ul>
    </div>
    <div id="user-profile">
        <img src="./assets/profile-pic%20(1).png" width="35px" style="border-radius: 50px" routerLink="user">
    </div>
  </div>
</nav>



