.login-form{
  display: flex;
  align-items: center;
  gap: 25px;
  width: 100%;
}

h1{
  text-align: center;
  color: #3b7ddd;
  margin-top: 50px;
  font-weight: 700;
  font-size: 2rem;
}

.image{
  max-width: 800px;
}

.container-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 25px;
}

.form-control{
  width: 350px;
  border-radius: 3px;
  box-shadow: none;
}

.form-label{
  font-size: 1.2rem;
}

.btn{
  border-radius: 3px;
  background-color: #3b7ddd;
}
