<div class="container">
  <div class="row">
    <div class="col" routerLink="panneaux">Panneaux<hr> <span>120</span></div>
    <div class="col" routerLink="onduleur">Onduleur <hr> <span>70</span></div>
    <div class="col" routerLink="fixation">Fixation<hr> <span>16</span></div>
    <div class="col" routerLink="cable">Cables <hr> <span>200</span></div>
    <div class="col" routerLink="batterie">Batterie <hr> <span>32</span></div>
    <div class="col" routerLink="conteur">Conteurs <hr> <span>16</span></div>
  </div>
  <div class="installation">
    <header>
      <img src="assets/dzkabd.png" width="130px">
      <h1>Comment installez un photovoltaique ? </h1>
    </header>
    <div style="padding: 15px; border-radius: 5px; box-shadow: 0px 0px 5px #0e2238">
      <div class="tache">
        <h2>1) Préparation du site :</h2>
        <div class="description">
          Le site d'installation est préparé en nettoyant le toit, en vérifiant sa solidité et en installant les supports nécessaires pour les panneaux solaires.
        </div>
      </div>
      <div class="tache">
        <h2>2) Installation des panneaux solaires :</h2>
        <div class="description">
          Les panneaux solaires sont installés sur le toit conformément aux spécifications de conception. Ils sont fixés en place à l'aide de supports et de fixations appropriés.        </div>
        </div>
      <div class="tache">
        <h2>3) Connexions électriques :</h2>
        <div class="description">
          Les câbles électriques sont installés pour relier les panneaux solaires à l'onduleur, puis de l'onduleur au tableau de distribution électrique de votre maison.
        </div>
      </div>
      <div class="tache">
        <h2>4) Tests et mise en service :</h2>
        <div class="description">
          Une fois que tous les composants sont installés, le système est testé pour s'assurer qu'il fonctionne correctement et en toute sécurité.
        </div>
      </div>
      <div class="tache">
        <h2>5) Mise en service et formation :</h2>
        <div class="description">
          Une fois les tests réussis, le système est mis en service et vous recevez souvent une formation sur son fonctionnement et son entretien.
        </div>
      </div>
    </div>
  </div>
</div>
